<h2>Więcej informacji: </h2>
<hr>
<p>{{offerDetails?.description}}</p>
    <br>
    <div id="carouselOfferDetailsIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselOfferDetailsIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselOfferDetailsIndicators" data-slide-to="1"></li>
          <li data-target="#carouselOfferDetailsIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active img-fluid">
            <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2020/11/02/13/25/north-sea-oats-5706656_960_720.jpg" alt="First slide">
          </div>
          <div class="carousel-item img-fluid">
            <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/04/23/22/01/tree-736888_960_720.jpg" alt="Second slide">
          </div>
          <div class="carousel-item img-fluid">
            <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293_960_720.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselOfferDetailsIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Poprzedni slajd</span>
        </a>
        <a class="carousel-control-next" href="#carouselOfferDetailsIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Następny slajd</span>
        </a>
      </div>
      <br>
      <hr>
      <div class="buttons float-right">
          <button class="btn btn-primary">Zamknij</button> |
          <button class="btn btn-success">Rezerwuj</button>
      </div>