<h2 mat-dialog-title>Zarejestruj się</h2>
<mat-dialog-content class="mat-typography">
  <div class="">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Nazwa użytkownika</mat-label>
        <input 
              formControlName="username" 
              type="text" 
              class="example-right-align"
              matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Email</mat-label>
        <input 
              formControlName="email"
              type="email" 
              matInput
              class="example-right-align">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Imię</mat-label>
        <input formControlName="name"  matInput type="text" class="example-right-align">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Nazwisko</mat-label>
        <input formControlName="surname"  matInput type="text" class="example-right-align">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Data urodzenia</mat-label>
        <input formControlName="dateOfBirth"  matInput type="date" class="example-right-align">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Numer Telefonu</mat-label>
        <input formControlName="phoneNumber"  matInput type="text" class="example-right-align">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Miasto</mat-label>
        <input formControlName="city"  matInput type="text" class="example-right-align">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Płeć</mat-label>
        <mat-select formControlName="sex" >
          <mat-option value="kobieta">Kobieta</mat-option>
          <mat-option value="mezczyzna">Mężczyzna</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Rodzaj konta</mat-label>
        <mat-select formControlName="roleId" >
          <mat-option *ngFor="let role of UserRoles" [value]="role.roleId">{{role.roleName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Podaj hasło</mat-label>
        <input formControlName="password"  matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Powtórz hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
 
  <button type="submit" mat-raised-button color="primary">Zaloguj</button>
  </form>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>