<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">
    <!--sticky-top -->

        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/LogoSmall.png" height="45" alt="" loading="lazy">
        </a>
        <div class="pr-3" *ngIf="checkIfUserIsLoggedIn()">
            <button (click)="onSetNotificationsReaded()" [matMenuTriggerFor]="notificationMobile" mat-icon-button color="primary" class=" navbar-toggler mobileNavBarButton">
                <mat-icon inline="true" [matBadge]="newNotificationsNumber">notifications</mat-icon>
            </button>
            <button mat-icon-button color="accent" class="navbar-toggler mobileNavBarButton" routerLink="/chat"
                routerLinkActive="active">
                <mat-icon inline="true" matBadge="10">chat</mat-icon>
            </button>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <mat-menu #notificationMobile="matMenu" class="mat-menu">
            <li class="mat-list-item" mat-menu-item *ngFor="let elem of notifications">{{elem.message}} | {{ elem.creationDate | date: 'shortDate' }} <hr></li>
        </mat-menu>

    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="!isAuthenticated">
        <ul class="navbar-nav">
            <li class="nav-item active d-flex justify-content-center">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#navbarNav">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#navbarNav">Features </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#navbarNav">Pricing</a>
            </li>

            <div class=".d-none d-xs-block d-lg-none">
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarNav">
                        <mat-icon class="matMenuIcon">login</mat-icon>
                        <span (click)="openLoginDialog()"> Zaloguj!</span>
                    </a>
                </li>
                <li class="nav-item d-flex justify-content-center" (click)="openRegisterDialog()">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarNav">
                        <mat-icon class="matMenuIcon">person_add</mat-icon>
                        <span> Zarejestruj się!</span>
                    </a>
                </li>
            </div>
        </ul>

        <form class="form-inline ml-auto d-flex justify-content-center ">
            <div class="form-group no-border">
                <input type="text" class="form-control" placeholder="Znajdź profil wspinacza" />
            </div>
            <button type="submit" class="btn btn-link btn-icon btn-round">
                <mat-icon>search</mat-icon>
            </button>
        </form>

        <button mat-icon-button class="btn-link matLoginButton d-none d-md-none d-lg-block" [matMenuTriggerFor]="menu"
            aria-label="Account button">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openLoginDialog()">
                <mat-icon>login</mat-icon>
                <span>Zaloguj!</span>
            </button>
            <button mat-menu-item (click)="openRegisterDialog()">
                <mat-icon>person_add</mat-icon>
                <span>Zarejestruj się!</span>
            </button>
        </mat-menu>

    </div>
    <!-- Navbar dla zalogowanego usera -->
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isAuthenticated">
        <ul class="navbar-nav">
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" routerLink="/dashboard/posts" routerLinkActive="active" data-toggle="collapse"
                    data-target="#navbarNav">Posty </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" routerLink="/climbingPartners" routerLinkActive="active" data-toggle="collapse"
                    data-target="#navbarNav">Partnerzy wspinaczkowi </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" routerLink="/instructors" routerLinkActive="active" data-toggle="collapse"
                    data-target="#navbarNav">Instruktorzy</a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" routerLink="/userClimbings" routerLinkActive="active" data-toggle="collapse"
                    data-target="#navbarNav">Schematy Wspinaczkowe</a>
            </li>
            <!--  Widoczne tylko na mobilce -->
            <div class=".d-none d-xs-block d-lg-none">
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link" routerLink="/chat" routerLinkActive="active">
                        <mat-icon class="matMenuIcon">chat</mat-icon>
                        <span>Wiadomości</span>
                    </a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link" routerLink="/userSettings" routerLinkActive="active">
                        <mat-icon class="matMenuIcon">settings</mat-icon>
                        <span>Moje konto</span>
                    </a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link" routerLink="/myOffers" routerLinkActive="active">
                        <mat-icon class="matMenuIcon">fact_check</mat-icon>
                        <span>Moje oferty</span>
                    </a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link" (click)="logout()">
                        <mat-icon class="matMenuIcon">login</mat-icon>
                        <span>Wyloguj</span>
                    </a>
                </li>
            </div>
            <!-- /Widoczne tylko na mobile -->
        </ul>

        <form class="form-inline ml-auto d-flex justify-content-center ">
            <div class="form-group no-border">
                <input type="text" class="form-control" placeholder="Znajdź profil wspinacza" />
            </div>
            <button type="submit" class="btn btn-link btn-icon btn-round">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <button (click)="onSetNotificationsReaded()" mat-icon-button class="btn-link matLoginButton d-none d-md-none d-lg-block"
            [matMenuTriggerFor]="notification" aria-label="Notifications button">
            <mat-icon [matBadge]="newNotificationsNumber">notifications</mat-icon>
        </button>
        <mat-menu #notification="matMenu" class="mat-menu">
            <li class="mat-list-item" mat-menu-item *ngFor="let elem of notifications">{{elem.message}} | {{ elem.creationDate | date: 'shortDate' }} <hr></li>
        </mat-menu>

        <button mat-icon-button class="btn-link matLoginButton d-none d-md-none d-lg-block" aria-label="Messages button"
            routerLink="/chat" routerLinkActive="active">
            <mat-icon matBadge="2" matBadgeColor="primary">chat</mat-icon>
        </button>
        <button mat-icon-button class="btn-link matLoginButton d-none d-md-none d-lg-block" [matMenuTriggerFor]="menu"
            aria-label="Account button">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/userSettings" routerLinkActive="active">
                <mat-icon>settings</mat-icon>
                <span>Moje konto</span>
            </button>
            <button mat-menu-item routerLink="/myOffers" routerLinkActive="active">
                <mat-icon>fact_check</mat-icon>
                <span>Moje oferty</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>login</mat-icon>
                <span>Wyloguj się!</span>
            </button>
        </mat-menu>



    </div>
</nav>