<h2 mat-dialog-title>Logowanie</h2>
<mat-dialog-content class="mat-typography">
    <div class="">
        <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Login lub e-mail</mat-label>
            <input matInput type="email" class="example-right-align">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Podaj hasło</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary"><a routerLink="/dashboard" routerLinkActive="active" mat-dialog-close>Zaloguj</a></button>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button  mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>