<h2 mat-dialog-title>Lista uczestników</h2>
<div mat-dialog-content>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let user of participantsList">
            <div class="row">
                <div class="col-12">
                    <h3>{{ user.firstName + ' ' + user.surname}}</h3>
                    <p><span class="material-icons">local_phone</span>{{user.phone}} &nbsp;|&nbsp; <span
                            class="material-icons">mail_outline</span>{{user.mail}}</p>
                </div>
            </div>
            <button mat-mini-fab color="warn" class="ml-3">
                <mat-icon>delete</mat-icon>
            </button>
        </li>
    </ul>
</div>
<div mat-dialog-actions class="float-right">
    <button mat-raised-button mat-dialog-close>Zamknij</button>
</div>