.example-spacer {
    flex: 1 1 auto;
}

button.mat-menu-item, .matLoginButton, .mobileNavBarButton{
     outline:none!important;
     border: none!important;
     background: none!important;
}

.matMenuIcon{
    vertical-align: middle!important;
}
 .mobileNavBarButton {
    font-size:4vh;
    margin-right: 5vw;

}