.example-spacer {
    flex: 1 1 auto;
}

button.mat-menu-item, .matLoginButton{
     outline:none!important;
     border: none!important;
     background: none!important;
}

.matMenuIcon{
    vertical-align: middle!important;
}
