<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/LogoSmall.png" height="45" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="checkIfUserIsLoggedIn() == false">
        <ul class="navbar-nav">
            <li class="nav-item active d-flex justify-content-center">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" href="#">Features </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" href="#">Pricing</a>
            </li>

            <div class=".d-none d-xs-block d-lg-none">
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link">
                        <mat-icon class="matMenuIcon">login</mat-icon>
                        <span (click)="openLoginDialog()"> Zaloguj!</span>
                    </a>
                </li>
                <li class="nav-item d-flex justify-content-center" (click)="openRegisterDialog()">
                    <a class="nav-link">
                        <mat-icon class="matMenuIcon">person_add</mat-icon>
                        <span> Zarejestruj się!</span>
                    </a>
                </li>
            </div>
        </ul>

        <form class="form-inline ml-auto d-flex justify-content-center ">
            <div class="form-group no-border">
                <input type="text" class="form-control" placeholder="Znajdź profil wspinacza" />
            </div>
            <button type="submit" class="btn btn-link btn-icon btn-round">
                <mat-icon>search</mat-icon>
            </button>
        </form>

        <button mat-icon-button class="btn-link matLoginButton d-none d-md-none d-lg-block" [matMenuTriggerFor]="menu"
            aria-label="Account button">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openLoginDialog()">
                <mat-icon>login</mat-icon>
                <span>Zaloguj!</span>
            </button>
            <button mat-menu-item (click)="openRegisterDialog()">
                <mat-icon>person_add</mat-icon>
                <span>Zarejestruj się!</span>
            </button>
        </mat-menu>

    </div>
    <!-- Navbar dla zalogowanego usera -->
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="checkIfUserIsLoggedIn() == true">
        <ul class="navbar-nav">
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">News </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" routerLink="/climbingPartners" routerLinkActive="active">Partnerzy wspinaczkowi </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" href="#">Instruktorzy</a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link" href="#">Moje przejścia</a>
            </li>

            <div class=".d-none d-xs-block d-lg-none">

                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link">
                        <mat-icon class="matMenuIcon">chat</mat-icon>
                        <span> Wiadomości</span>
                    </a>
                </li>
            </div>
        </ul>

        <form class="form-inline ml-auto d-flex justify-content-center ">
            <div class="form-group no-border">
                <input type="text" class="form-control" placeholder="Znajdź profil wspinacza" />
            </div>
            <button type="submit" class="btn btn-link btn-icon btn-round">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <button mat-icon-button class="btn-link matLoginButton d-none d-md-none d-lg-block"
        aria-label="Messages button">
        <mat-icon>chat</mat-icon>
    </button>
        <button mat-icon-button class="btn-link matLoginButton d-none d-md-none d-lg-block" [matMenuTriggerFor]="menu"
            aria-label="Account button">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openLoginDialog()">
                <mat-icon>login</mat-icon>
                <span>Wyloguj się!</span>
            </button>

        </mat-menu>



    </div>
</nav>