<mat-card class="mt-5 mb-5">
    <mat-card-header>
        <mat-card-title>{{ postItem.title }}</mat-card-title>
        <mat-card-subtitle>{{ postItem.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="postItem.imgURL" [alt]="postItem.imgURL" >
    <mat-card-content>
        <p>{{ postItem.content | cutString:355 }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button routerLink="/postDetails/">Czytaj dalej..</button>
        <button mat-button>Autor: {{ postItem.userId }}</button>
    </mat-card-actions>
</mat-card>
