<mat-card class="mt-5 mb-5">
    <mat-card-header>
        <mat-card-title>{{ postItem.title }}</mat-card-title>
        <mat-card-subtitle>{{ postItem.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imgURI" alt="Obraz posta" >
    <mat-card-content>
        <p>{{ postItem.content | cutString:numberOfCutString }}</p>
        <b style="cursor: pointer;"><p (click)="changeMaxStringOfPipe()" *ngIf="postItem.content.length > 300 && numberOfCutString == 300">Czytaj dalej</p></b>
    </mat-card-content>
    <mat-card-actions>
        <div class="row" style="text-align: start;">
            <div class="col-12 col-lg-4" >
                <button mat-button type="button" [class.liked]="postItem.postLikedByLoggedUser" matBadge="{{postItem.likeCounter}}" (click)="onLikeClick()">LIKE <span class="material-icons">thumb_up</span></button>
            </div>
            <div class="col-12 col-lg-4" >
                <button [routerLink]="['/profiles/', postItem.userId, 'details']" mat-button>Autor: {{ postItem.userNameSurname }}</button>
            </div>
            <div class="col-12 col-lg-4" >
                <button mat-button class="float-right" *ngIf="postItem.userId === loggedUserId || userRoleName == 'Administrator'" routerLink="{{postItem.id}}/edit">Edytuj post</button>
            </div>
        </div>

        


    </mat-card-actions>
</mat-card>
