<div class="container collapse" id="collapse">
  <div class="row d-flex justify-content-center">
      <div class="col-12" style="background: white; border-radius:0px 0px 4px 4px;">
          <div class="row d-flex justify-content-center">
              <mat-form-field class="col-lg-6 col-12">
                  <mat-label>Wyszukaj po nazwie lub rejonie</mat-label>
                  <input matInput type="text" [(ngModel)]="searchString">
                  <button mat-button *ngIf="searchString" (click)="searchString = '' " matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>
              <div class="col-lg-2 col-12 mt-2 mb-2 d-flex justify-content-center" >
                  <button mat-raised-button color="primary" type="button" [disabled]="!searchString" (click)="search()">Wyszukaj</button>
              </div>   
          </div>
      </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <button mat-raised-button color="primary" class="col-12" data-toggle="collapse" href="#collapse" role="button"
          aria-expanded="false" aria-controls="collapseExample">Wyszukiwarka</button>
      </div>
      <div class="col-12">
        <app-instructor-list></app-instructor-list>
      </div>
  </div>
</div>