<div class="d-flex justify-content-center">
    <div class="col-lg-11 col-md-12 col-sm-12  mt-5">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Edytuj profil</mat-card-title>
                <mat-card-subtitle>{{user.firstName + ' ' + user.surname}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="userForm" *ngIf="userForm" (ngSubmit)="onSubmit()">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="hoverable d-flex justify-content-center" for="fileInput">
                                    <img class="img-fluid"
                                        [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
                                    <!-- <div class="hover-text">Choose file</div> -->
                                    <div class="background"></div>
                                </label>
                                <button mat-stroked-button color="primary" type="button" *ngIf="!url" (click)="compressFile()" class="col-12">wybierz plik</button>
                                <button mat-button mat-raised-button color="warn" *ngIf="url" (click)="deleteUrl()" class="col-12">Usuń plik</button>
                            </div>
                            <div class="col-lg-9">
                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Nazwa użytkownika</mat-label>
                                    <input matInput type="text" class="" formControlName="Username">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" class="" formControlName="Email">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Imię</mat-label>
                                    <input matInput type="text" class="" formControlName="FirstName">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Nazwisko</mat-label>
                                    <input matInput type="text" class="" formControlName="Surname">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Data urodzenia</mat-label>
                                    <input matInput type="text" class="" formControlName="DateOfBirth">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Mężczyzna</mat-label> <!-- nie mozna zmienic-->
                                    <input matInput type="text" class="" formControlName="Sex">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Numer telefonu</mat-label>
                                    <input matInput type="text" class="" formControlName="Phone">
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12" >
                                    <mat-label>Rodzaj konta</mat-label>
                                    <!-- dodać pobieranie z usera rodzaju konta, nie wolno zmienic-->
                                    <input matInput type="text" class="" formControlName="RoleName">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Miasto</mat-label>
                                    <!-- dodać pobieranie z usera rodzaju konta, nie wolno zmienic-->
                                    <input matInput type="text" class="" formControlName="City">
                                </mat-form-field>

                                <div class="col-lg-4 col-sm-12">
                                    <section class="">
                                        <mat-checkbox class="" (click)="onChangePassword()">Zmień hasło</mat-checkbox>
                                    </section>
                                </div>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Podaj stare hasło</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="OldPassword">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" *ngIf="changePassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Podaj nowe hasło</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password1">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" *ngIf="changePassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-sm-12">
                                    <mat-label>Powtórz nowe hasło</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password2">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" *ngIf="changePassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <mat-card-actions class="ml-2 mb-2">
                        <button [disabled]="!userForm.valid" mat-raised-button color="primary">ZAPISZ</button>
                    </mat-card-actions>
                </form>

            </mat-card-content>

        </mat-card>
    </div>
</div>


<router-outlet></router-outlet>