<h1 mat-dialog-title>{{ data.routeName }}</h1>
<mat-divider></mat-divider>
<div class="row mt-3 ">
  <div class="col-12 col-lg-4">
    <h3><b>Rejon: </b>{{ data.routeLocation }}</h3>
    <h3><b>Wycena:</b> {{ data.routeScale }}</h3>
    <h3><b>Opis:</b> {{ data.routeDescription }}</h3>
    <h3><b>Data:</b> {{ data.creationDate | date: 'shortDate' }}</h3>
    <h3><mat-icon inline=true>public</mat-icon> {{data.isPublic ? 'Publiczny' : 'Prywatny'}} schemat</h3>

  </div>
  <div class="col-12 col-lg-8">
    <img [src]="data.imgURL" alt="Obraz posta" class="img-fluid rounded mat-elevation-z4">
  </div>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-raised-button color="warn" (click)="deleteSchema(data.id)" *ngIf="data.userId === actualUserId">Usuń schemat</button>
  <button mat-raised-button mat-dialog-close>Zamknij</button>
</div>