<div class="bodyHomePage">
    <div class="container">
        <div id="row h-100 ">
            <div class="row p-5">
                <div class="col-2">
                </div>
                <div id="homePageBigLogo" class="col-8 flex flex-center">
                    <img class="img-fluid " src="../../assets/img/LogoBigKompas.png" alt="climb2gether logo">
                </div>
                <div class="col-2">

                </div>
            </div>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
</div>