<div class="bodyHomePage">

    <div id="row ">
        <div class="row p-3 d-flex justify-content-center logoBig">
            <div id="homePageBigLogo" class="col-lg-5 col-12 d-flex justify-content-center">
                <img class="img-fluid " src="../../assets/img/LogoBigKompas.png" alt="climb2gether logo">
            </div>
        </div>
    </div>

    <div class=" row desrciptionWrapper d-flex justify-content-center">

        <div class="col-12 col-md-6 col-lg-3 card">
            <div class="row">
                <div class="col-3 iconDiv">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">camera_enhance</mat-icon>
                </div>
                <div class="col-9">
                    <h3>
                        <b>Schematy wspinaczkowe</b>
                    </h3>
                    <p>
                        Zrób zdjęcie, następnie wgraj, narysuj, swój schemat i zapisz!
                        Nie musisz już rysować schematów na kartce. Możesz je zawsze mieć ze sobą.
                        Szukaj także w publicznych schematach innych wspinaczy.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 card">
            <div class="row">
                <div class="col-3 iconDiv">
                    <mat-icon aria-hidden="false" aria-label=" icon" >groups</mat-icon>
                </div>
                <div class="col-9">
                    <h3>
                        <b>Oferty prywatne</b>
                    </h3>
                    <p>
                        Zaoferuj swoje prywatne wypady w skały,
                        wyprawy czy trekkingi lub odszukaj interesującej Cię 
                        oferty prywatnej.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 card">
            <div class="row">
                <div class="col-3 iconDiv">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon>
                </div>
                <div class="col-9">
                    <h3>
                       <b>Oferty komerycjne</b> 
                    </h3>
                    <p>
                        Szukasz przewodnika, kursu skałkowego,
                        kursu taternickiego, kursu narciarstwa wysokogórskiego,
                        a może kursu taternickiego czy też lawinowego? 
                        Świetnie, znajdziesz tu wszystko czego szukasz. :)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 card">
            <div class="row">
                <div class="col-3 iconDiv">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">hiking</mat-icon>
                </div>
                <div class="col-9">
                    <h3>
                       <b>Dziel się swoimi przeżyciami </b> 
                    </h3>
                    <p>
                        Dziel się swoimi opisami z wypraw oraz
                        przejsć, a także przeglądaj wpisy innych użytkowników!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>