<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12" id="editPostDiv" class="px-5 py-3 ">
            <h1>Dodaj nowy post</h1>
            <hr>
            <form (ngSubmit)="onSubmit()" #form="ngForm" >
                <div class="form-group ">
                        <label for="title">Tytuł</label>
                        <input
                          type="text"
                          id="title"
                          class="form-control"
                          ngModel
                          name="title"
                          required>
                </div>
                <div class="form-group ">
                    <label for="subtitle">Podtytuł</label>
                    <input
                      type="text"
                      id="subtitle"
                      class="form-control"
                      ngModel
                      name="subtitle"
                      >
                </div>
                <div class="form-group ">
                    <label for="imgURL">URL zdjęcia</label>
                    <input
                      type="text"
                      id="imgURL"
                      class="form-control"
                      ngModel
                      name="imgURL"
                      
                      #imgURL>
                </div>
                <div class="col-xs-12 d-flex justify-content-center">
                    <img [src]="imgURL.value" class="img-responsive">
                </div>
                <div class="form-group ">
                    <label for="content">Treść wpisu</label>
                    <textarea
                      type="text"
                      id="content"
                      class="form-control"
                      ngModel
                      name="content"
                      required
                      #imgURL
                      rows="10"></textarea>  
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Dodaj post</button>
                </div>
            </form>
        </div>
    </div>
</div>
