<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12" id="editPostDiv" class="px-5 py-3 ">
            <h1>{{ inEditMode ? 'Edytu swój post' : 'Dodaj nowy post' }}</h1>
            <hr>
            <form (ngSubmit)="onSubmit()"[formGroup]="postForm" >
                <div class="form-group ">
                        <label for="title">Tytuł</label>
                        <input
                          type="text"
                          id="title"
                          class="form-control"
                          formControlName="title"
                          >
                </div>
                <div class="form-group ">
                    <label for="subtitle">Podtytuł</label>
                    <input
                      type="text"
                      id="subtitle"
                      class="form-control"
                      formControlName="subtitle"
                      >
                </div>

                <div class="form-group">
                    <label class="hoverable d-flex justify-content-center" for="fileInput">
                        <img class="img-fluid"
                            [src]="url">
                         <!-- <div class="hover-text">Wybierz pliki</div> -->
                        <div class="background"></div>
                    </label>
                    <button mat-stroked-button color="primary" *ngIf="!url" (click)="compressFile()" class="col-12">wybierz plik</button>
                    <!-- <input id="fileInput" type="file" formControlName="img" #file (change)="readFiles($event)"> -->
                    <button mat-button mat-raised-button color="warn" *ngIf="url" (click)="clearImg()" class="col-12">Usuń plik</button>
                </div>

                <div class="form-group ">
                    <label for="content">Treść wpisu</label>
                    <textarea
                      type="text"
                      id="content"
                      class="form-control"
                      formControlName="content"
                      rows="10"></textarea>  
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">{{ inEditMode ? 'Aktualizuj' : 'Dodaj' }}</button> | 
                    <button class="btn btn-warning" type="button" (click)="onFormCancell()">Anuluj</button> <span *ngIf="inEditMode"> |
                    <button class="btn btn-danger" type="button" (click)="onPostDelete()" >Usuń post</button></span>
                </div>
            </form>
        </div>
    </div>
</div>
