.myOfferWrapper {
   margin: 5vh 0;
    background: whitesmoke;
    border-radius: 5px;
    //max-width: 98vw;
}

.mat-row, .mat-header-row {  
    min-width: 500px;  
    width: 100%;  
    overflow: auto;
  } 
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  mat-header-cell, mat-cell, mat-panel-description,mat-panel-title{
  display: flex;
  justify-content: center;;
  }
  .mat-paginator{
      background: transparent;
  }

  #addOfferButton{
    position: fixed;
    top: 12vh;
    right: 4vw;
    z-index:10;
}

.gridButton {
  width:12px!important;
  margin: 0 auto!important;
  padding: 0 0!important;
}

////////////////////////////


.myPrivateOfferWrapper {
  //margin: 5vh 0;
   background: whitesmoke;
   border-radius: 5px;
   //max-width: 98vw;
}

.mat-row, .mat-header-row {  
   min-width: 500px;  
   width: 100%;  
   overflow: auto;
 } 
 
 .mat-table {
   overflow: auto;
   max-height: 500px;
 }
 
 mat-header-cell, mat-cell, mat-panel-description,mat-panel-title{
 display: flex;
 justify-content: center;;
 }
 .mat-paginator{
     background: transparent;
 }

 #addOfferButton{
   position: fixed;
   top: 12vh;
   right: 4vw;
   z-index:10;
}

.gridButton {
 width:12px!important;
 margin: 0 auto!important;
 padding: 0 0!important;
}

mat-icon{
  color: #035D61;
}



.mat-list mat-list-item, h2, h4{
  height: auto;
  color: rgba(0, 0, 0, 0.54);
}


mat-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

// @media (min-width: 992px) { 
//     .container {
//         width: 80vw!important;
//         margin: 0 auto;
//     } 
//  }

div {
  font-size: 12px!important;
}

.title{
  margin-bottom: 0;
}


#addOfferButton{
  color: white!important;
}