<router-outlet></router-outlet>
<div class="container mb-3">
    <div class="d-flex justify-content-center">
        <div class="col-lg-12 col-md-12 col-12 myOfferWrapper mat-elevation-z8 mt-2">
            <br>
            <h2 class="title">{{ expItem.destination }}</h2>
            <h4 class="title">{{ expItem.destinationRegion }}</h4>
            <hr>
            <div class="row mt-2">
                <div class="col-lg-3 col-md-12 col-12">
                    <mat-list class="mat-list">
                        <div mat-subheader><b>Info o użytkowniku: </b></div>
                        <mat-list-item>
                            <mat-icon mat-list-icon>account_box</mat-icon>
                            <div mat-line>{{ expItem.user.firstName + ' '+ expItem.user.surname}}</div>
                            <!-- <div mat-line> folder.updated </div> -->
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>location_city</mat-icon>
                            <div mat-line>{{ expItem.user.city }}</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>terrain</mat-icon>
                            <div mat-line>{{ expItem.user.roleName }}</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>local_phone</mat-icon>
                            <div mat-line>{{ expItem.user.phone }}</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>email</mat-icon>
                            <div mat-line>{{ expItem.user.email }}</div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="col-lg-9 col-md-12 col-12 mt-2" style="border-left: 1px solid rgba(0, 0, 0, 0.1)">
                    <mat-list class="list-horizontal">
                        <div mat-subheader><b>Szczegóły wyprawy: </b></div>
                        <div class="row">
                            <mat-list-item class="horizontal-mat-list-item col-12 col-md-6 col-lg-3">
                                <mat-icon mat-list-icon>location_on</mat-icon>
                                <div mat-line>Cel wyprawy: {{expItem.destinationCity}}</div>
                                <div mat-line>Wyjazd z: {{expItem.departureCity}}</div>
                            </mat-list-item>
                            <mat-list-item class="horizontal-mat-list-item col-12 col-md-6 col-lg-3">
                                <mat-icon mat-list-icon>terrain</mat-icon>
                                <div mat-line>{{expItem.destination}}</div>
                                <div mat-line>{{expItem.destinationRegion}}</div>
                            </mat-list-item>
                            
                            <mat-list-item class="horizontal-mat-list-item col-12 col-md-6 col-lg-3">
                                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                                <div mat-line>Aktualna ilość osób: 2</div>
                                <div mat-line>Max. ilość osób: 5</div>
                            </mat-list-item>
                            <mat-list-item class="horizontal-mat-list-item col-12 col-md-6 col-lg-3">
                                <mat-icon mat-list-icon>event_available</mat-icon>
                                <div mat-line>{{expItem.expeditionDate | date: 'shortDate'}}</div>
                                <div mat-line>Data wyprawy</div>
                            </mat-list-item>
                        </div>
                    </mat-list>
                    <mat-card class="mt-2 mat-elevation-z4">
                        <h3>{{expItem.descriptionTitle}}</h3>
                        <p>{{expItem.description}}</p>
                    </mat-card>
                </div>
            </div>
            <hr>
            <div class="row pb-2">
                <div class="col-12">
                    <button class="btn btn-primary" (click)="confrimEnrollmentDialog()">Umów się!</button>
                </div>
            </div>
        </div>
    </div>
</div>